body{
    background-color: #1f1f23;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
	color: #BBBBBB;
	text-shadow: 2px 2px 20px #222222;
	font-size: 250%;
}
#projects-title{
    text-shadow: 3px 3px #000000;
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 2%;
}
a{
	text-decoration: none;
}
#projects-outer{
    background-color: #333337;
    padding: 1%;
    border-radius: 1%;
}
.projects{
    height: 20%;
    vertical-align: middle;
    border-radius: 2%;
}
#db-div{
    
}
.project-titles{
    color: #FFFFFF;
    position: relative;
    top: 50%;
    z-index: 2;
    text-align: center;
    text-shadow: 2px 2px #000000, 4px 4px #111111, 1px 0px 20px #000000;
    font-size: 200%;
}
.project-titles:hover ~ .projects-inner{
	filter: blur(0px);
	transition: 200ms;
}
.projects-inner{
    top: -22.5%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    transition: 500ms;
    height: 100%;
    width: 100%;
    z-index: 0;
    border-radius: 2%;
}
.projects-inner:hover{
    filter: blur(0px);
    transition: 200ms;
}
#db-inner{
    background-image: url("images/DB.png");
}
#wss-inner{
	background-image: url("images/wss.jpg")
}
#games-inner{
	background-image: url(images/tennis_thumb.png);
}
#gh-inner{
	background-image: url("images/gh.png");
}