body{
    background-color: #1f1f23;
    padding: 1%;
}
h1{
	color: #BBBBBB;
	text-shadow: 2px 2px 20px #222222;
	font-size: 250%;
}
#projects-outer{
    background-color: #333337;
    padding: 1%;
}
.projects{
    height: 20%;
    vertical-align: middle;
}
#db-div{
    
}
.project-titles{
    color: #FFFFFF;
    position: relative;
    top: 50%;
    z-index: 2;
    text-align: center;
    text-shadow: 2px 2px #000000, 4px 4px #111111, 1px 0px 20px #000000;
    font-size: 200%;
}
.projects-inner{
    top: -22.5%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    transition: 500ms;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.projects-inner:hover{
    filter: blur(0px);
    transition: 500ms;
}
#db-inner{
    background-image: url("images/DB.jpg");
}
#wss-inner{
	background-image: url("images/wss.jpg")
}
#games-inner{
	background-image: url(images/tennis_thumb.png);
	background-position: top 100%;
}